*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #181818;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    height: 150px;
    width: 100%;
    background-color: pink;
}

/* .logo{
    height: 50px;
    width: 50px;
} */