#botao_cadastrar{
    float: right;
    margin-top: 10px;
    width: 100%;
}

#cadastrar{
    height: 40px;
    width: 150px;
    border-radius: 12px;
    border: none;
    background-color: #0073e6;
    transition: background-color 0.3s;
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
}

#cadastrar:hover{
   background-color: #005bad; 
}

#cadastrar a{
    text-decoration: none;
    color: #fff;
}

th, th{
    padding: 10px 15px;
}

#aeronavesTable{
    width: 100%;
}

#listagem{
    margin-top: 20px;
    text-align: center;
    
}