#funcoes_admin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#opc{
    height: 150px;
    text-align: center;
    flex: 1; /* Adicione esta propriedade para fazer as divs filhas crescerem e ocuparem o espaço verticalmente */
}

#imagem {
    max-width: 100%;
    height: auto;
    margin: 0;
}