/* CSS utilizado para estilizar as opções de menu do administrador */

/* Padronização geral da página */
body {
    background-color: #b9cadc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* DIV utilizada para organizar a exibição das opções de menu na tela */
#opcoes {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

/* DIV utilizada para tranformar as opções de menu em circulos */
#opcao {
    width: 150px;
    height: 150px;
    background-color: #e3e8ee;
    color: #1f70b2;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 10px;
    transition: background-color 0.3s;
}

/* Utilizado para mudar a cor dos circulos quando o usuário posicionar o mouse */
#opcao:hover {
    background-color: #007bff;
}

/* Utilizado para estilizar o nome do menu */
#opcao a {
    text-decoration: none;
    color: #1f70b2;
    font-weight: bold;
    text-align: center;
}