body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  /* background-color: #b9cadc; OPÇÃO 2 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

select, input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

button {
  background-color: #0073e6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2px;
  width: 100%;
}

button:hover {
  background-color: #005bad;
}

/* button:hover {
  background-color: #005bad;
}

.statusError {
  color: red;
  margin-top: 10px;
}

.statusSuccess {
  color: blue;
  margin-top: 10px;
} */