/* CSS geral utilizado nas telas de edição e exclusão da área do administrador */
/* Este CSS está sendo utilizado também nas telas de cadastrarMapa e resumoCompra */

/* Utilizada em todas as telas de edição e exclusão do painel administrador */
/* Exibe um select com dados do banco que o usuário pode editar/excluir */
.container {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
  justify-content: center;
}

/* Utilizado nas telas de edição para exibir os dados que o usuário pode alterar */
.containerInvisivel {
  display: none;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 50px;
  justify-content: center;
}

/* Utilizada no HTML de cadastrarMapa e resumoCompra - Área do cliente */
.containerOculto {
  display: none;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 50px;
  justify-content: center;
}
  
/* Acredito que não está sendo utilizado em nenhuma página, porém vou deixar aqui caso quebre alguma tela */
/* form {
  display: flex;
  flex-direction: column;
} */
  
/* Utilizado em todas as telas de edição e exclusão do painel admin para especificar os campos */
label {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

/* Utilizado para criar um padrão nos campos de input e select das telas de edição e exclusão do administrador */
input, select {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 50%;
  margin-left: 15px;
  width: 100%;
  margin: 15px 2px;
  text-align: center;
}

/* Utilizado para criar um padrão nos botões das telas de edição e exclusão do administrador */
button {
  background-color: #0073e6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin: 2px;
}
button:hover {
  background-color: #005bad;
}
  
/* Utilizado para alterar cor das mensagens de sucesso e erros */
/* .statusError {
  color: red;
  margin-top: 10px;
}
  
.statusSuccess {
  color: blue;
  margin-top: 10px;
}
   */

/* Utilizado para padronizar o estilo das tabelas que retornam os dados de voos e aeronaves (telas de edição) */
table {
    border-collapse: collapse;
    width: 100%;
}
/* Utilizado para padronizar as colunas das tabelas que retornam os dados de voos e aeronaves (telas de edição) */
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Utilizado para padronizar os inputs das tabelas que retornam os dados de voos e aeronaves (telas de edição) */
#dataBody input{
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 90%;
  text-align: center;
}

/* ID criado para ajustar o tamanho do containerInvisivel em Aeronaves e Voos (tela de edição) */
#dadosCSS{
  max-width: 1000px;
}