body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  /* background-color: #b9cadc; OPÇÃO 2 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

select, input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  height: 30px;
}

button {
  background-color: #0073e6;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 2px;
  width: 100%;
}

button:hover {
  background-color: #005bad;
}

/* CSS UTILIZADO EXCLUSIVAMENTE PARA CADASTROS DE AERONAVES */
#mapa_assentos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mapa_assentos label{
  text-align: center;
  margin: 10px;
}

#mapa_assentos input{
  margin: 0 30px;
  margin-bottom: 20px;
}

/* CSS UTILIZADO EXCLUSIVAMENTE PARA CADASTROS DE VOOS */
#voos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#voos label{
  margin: 0 10px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
#voos input{
  margin: 0 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* #valor{
  width: 150px;
  margin-bottom: 10px;
} */