body {
    background-image: url(../images/airplane.webp);
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 10% auto; /* Reduzi a margem para tornar mais responsivo */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.container h1 {
    color: #00e686a2;
    font-size: 2em; /* Tamanho de fonte responsivo */
    margin-bottom: 15px;
}

.container h2 {
    color: #333;
    font-size: 1.5em; /* Tamanho de fonte responsivo */
    margin-bottom: 10px;
}

button {
    background-color: #0073e6;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 70%; /* Ajustei a largura do botão para melhor responsividade */
    max-width: 200px; /* Largura máxima do botão */
}

button:hover {
    background-color: #005bad;
}

button a {
    color: #fff;
    text-decoration: none;
}

/* Consulta de mídia para telas menores */
@media screen and (max-width: 600px) {
    .container {
        margin: 20% auto; /* Aumentei a margem para melhor adaptação em telas menores */
    }

    button {
        width: 100%; /* Botão ocupa a largura total em telas menores */
    }
}
