.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin: 10px;
}

label {
    width: 20%;
    font-weight: bold;
}

input {
    width: 50%;
    padding: 5px;
    border: 1px solid black;
}

button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 2px;
    width: 50%;
  }
  
  button:hover {
    background-color: #005bad;
  }

.output {
    margin: 20px;
    border: 1px solid black;
    padding: 10px;
}

p {
    margin: 5px;
}
