#slogan{
    background-color: #b9cadc;
    height: 60px;
}

#slogan p{
    color: #1f70b2;
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}

#busca_div {
    background-image: url(../assets/images/airplane.webp);
    height: 350px;
    /* margin-top: 10px; */
    color: #fff;
    padding: 20px;
    background-size: cover;
}

#busca_form {
    background-color: #fff;
    padding: 20px;
    height: 220px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#busca_div p {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    background-color: white;
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding-top: 10px;
}

#div_campos {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#campo_select {
    flex-grow: 1;
    height: 45px;
    border-radius: 3px;
    margin-right: 15px;
    margin-left: 15px;
}

#campo_select2 {
    flex-grow: 1;
    height: 45px;
    border-radius: 3px;
    margin-right: 15px;
    margin-left: 15px;
}

#campo_select3 {
    flex-grow: 1;
    height: 45px;
    border-radius: 3px;
    margin-right: 15px;
    margin-left: 15px;
}

#campo_cidade {
    flex-grow: 2;
    height: 40px;
    margin-right: 15px;
}


#label_calendarioIDA{
    height: 5px;
    color: black;
    margin-bottom: 0;
    flex-grow: 3;
    text-align: center;
}

#label_calendarioVOLTA{
    height: 5px;
    color: black;
    margin-bottom: 0;
    flex-grow: 3;
    text-align: center;
}

#campo_data_ida{
    height: 40px;
    margin: 0 10px;
    flex-grow: 4;
}

#campo_data_volta{
    height: 40px;
    margin: 0 10px;
    flex-grow: 4;
}

#div_botao{
    padding: 20px;
    height: 200px;
    float: right;
}

#buscar{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #0073e6;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
}

#limpar{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #0073e6;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
}

#buscar a{
    color: white;
    text-decoration: none;
}

#limpar a{
    color: white;
    text-decoration: none;
}

#buscar:hover{
   background-color: #005bad; 
}

#limpar:hover{
    background-color: #005bad; 
 }

#informacoes {
    display: flex; /* Use Flexbox to arrange divs side by side */
    justify-content: center; /* Distribute space between the two divs */
}

#informacoes h3 {
    color: #1f70b2;
}

#central-ajuda {
    width: 48%; /* Define a largura das divs para ocupar quase metade do espaço disponível */
    padding: 20px;
    text-align: center;
}

#feedback {
    flex-direction: column; /* Organiza os elementos em coluna dentro da div feedback */
    width: 48%; /* Define a largura das divs para ocupar quase metade do espaço disponível */
    padding: 20px;
}

#feedback h3 {
    color: #1f70b2;
    text-align: center;
}

[name="feedback_label"]{
    font-weight: bold;
}

[name="campos_feedback"]{
    margin: 10px 0px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#feedback select {
    width: 100px;
    margin-right: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#enviar{
    float: right;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #0073e6;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    cursor: pointer;
    color: white;
    margin-left: 15px;
}

#enviar a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}